body {
    /* Adds backround image */
    /* background-image: url("../background.jpg"); */
    margin: 0px;
    height: 100%;
}

#backroundcolor{
    position: absolute;
    margin:0;
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    background-color: red;
    background-image:
      linear-gradient(
        rgb(128, 0, 255), #f006ae
      );
}

li {
    list-style-type: none;
}

.test{
    color: brown;
}

#list{
    position: absolute;
    background: rgba(50, 50, 50, 0.4);
    height: 90%;
    width: 30%;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 10px;
    overflow: scroll;
    font-family: Arial, sans-serif;
}
#text-list{
    /* background-color: gray; */
    font-size: 175%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    color: white;
}

#lineOverText{
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}
.noLineOverText{
    text-decoration: none;
}

.buttons{
    font-family: Arial, sans-serif;
    color: white;
    position: absolute;
    background: rgba(50, 50, 50, 0.4);
    height: 30%;
    width: 20%;
    margin-left: 47%;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 300%;
    text-align: center;
}
.add{
    position: absolute; 
    background: rgba(50, 50, 50, 0.4);
    height: 10%;
    width: 20%;
    margin-left: 47%;
    margin-top: 18%;
    border-radius: 10px;
    
}

#center-block {
    margin: auto;
    display: block;
    width: 90%;
    height: 40%;
    margin-top: 2%;
  }
#enter-button{
    margin: auto;
    display: block;
    margin-top: 2.5%;
}

#item-1{
    background-color: red;
    
}
#item-2{
    background-color: red;
    
}
#item-3{
    background-color: red;
    
}
#checkbox{
    height:25px;
    font-size:30pt;
}
